<!-- src/main/resources/templates/fragments/navbar.html -->
<nav th:fragment="navbar">
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    </head>
    <ul>
        <div class="c-card">
            <button class="c-theme" id="themePicker"></button>
            <h1 class="c-card__title">Multiple theme switcher</h1>
            <div class="c-theme-grid" id="themeGrid"></div><a class="c-button" id="button">Switch Theme</a>
        </div>
    </ul>
</nav>
