body {
    background-color: var(--border); /* Тестируем, чтобы убедиться, что тема меняется */
}

footer {
    background-color: var(--border);
}

.footer .footer-title {
    font-size: 1.2rem;
    color: var(--text-primary);
}

.bg-base-border {
    background-color: var(--border);
}